<h1 class="text-center">FORMULÁRIO</h1>

<div class="container">
   <div class="row">
      <div class="col-md-6">
         <div class="card-body">
            <p class="card-text">Professor</p>
            <div class="btn-group">
               <div class="input-group mb-3">
                  <div class="input-group-prepend">
                     <span class="input-group-text" id="inputGroup-sizing-default">Nome</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
               </div>
            </div>       
         </div>
      </div>
      <div class="col-md-6">
         <div class="card-body">
            <p class="card-text">Escola</p>
            <div class="btn-group">
               <div class="input-group mb-3">
                  <div class="input-group-prepend">
                     <span class="input-group-text" id="inputGroup-sizing-default">Nome</span>
                  </div>
                  <select class="form-select" aria-label="Default select example">
                     <option selected>Selecione a escola</option>
                     <option value="1">COC</option>
                     <option value="2">PELICANO</option>
                     <option value="3">OBJETIVO</option>
                  </select>
               </div>
            </div>       
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-md-3">
         <div class="card-body">
            <p class="card-text">Pergunta 01</p>
            <div class="btn-group">
               <div class="input-group mb-3">
                  <div class="input-group-prepend">
                     <span class="input-group-text" id="inputGroup-sizing-default">Aluno 1</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
               </div>
            </div>
            <div>
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 2</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-3">
         <div class="card-body">
            <p class="card-text">Pergunta 02</p>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 1</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 2</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-3">
         <div class="card-body">
            <p class="card-text">Pergunta 03</p>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 1</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 2</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-3">
         <div class="card-body">
            <p class="card-text">Pergunta 04</p>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 1</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 2</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="row">
      <div class="col-md-3">
         <div class="card-body">
            <p class="card-text">Pergunta 05</p>
            <div class="btn-group">
               <div class="input-group mb-3">
                  <div class="input-group-prepend">
                     <span class="input-group-text" id="inputGroup-sizing-default">Aluno 1</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
               </div>
            </div>
            <div>
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 2</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-3">
         <div class="card-body">
            <p class="card-text">Pergunta 06</p>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 1</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 2</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-3">
         <div class="card-body">
            <p class="card-text">Pergunta 07</p>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 1</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 2</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-3">
         <div class="card-body">
            <p class="card-text">Pergunta 08</p>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 1</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 2</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="row">
      <div class="col-md-3">
         <div class="card-body">
            <p class="card-text">Pergunta 09</p>
            <div class="btn-group">
               <div class="input-group mb-3">
                  <div class="input-group-prepend">
                     <span class="input-group-text" id="inputGroup-sizing-default">Aluno 1</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
               </div>
            </div>
            <div>
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 2</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-3">
         <div class="card-body">
            <p class="card-text">Pergunta 10</p>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 1</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 2</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-3">
         <div class="card-body">
            <p class="card-text">Pergunta 11</p>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 1</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 2</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-3">
         <div class="card-body">
            <p class="card-text">Pergunta 12</p>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 1</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 2</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="row">
      <div class="col-md-3">
         <div class="card-body">
            <p class="card-text">Pergunta 13</p>
            <div class="btn-group">
               <div class="input-group mb-3">
                  <div class="input-group-prepend">
                     <span class="input-group-text" id="inputGroup-sizing-default">Aluno 1</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
               </div>
            </div>
            <div>
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 2</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-3">
         <div class="card-body">
            <p class="card-text">Pergunta 14</p>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 1</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 2</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-3">
         <div class="card-body">
            <p class="card-text">Pergunta 15</p>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 1</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 2</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-3">
         <div class="card-body">
            <p class="card-text">Pergunta 16</p>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 1</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 2</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="row">
      <div class="col-md-3">
         <div class="card-body">
            <p class="card-text">Pergunta 17</p>
            <div class="btn-group">
               <div class="input-group mb-3">
                  <div class="input-group-prepend">
                     <span class="input-group-text" id="inputGroup-sizing-default">Aluno 1</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
               </div>
            </div>
            <div>
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 2</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-3">
         <div class="card-body">
            <p class="card-text">Pergunta 18</p>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 1</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 2</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-3">
         <div class="card-body">
            <p class="card-text">Pergunta 19</p>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 1</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 2</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-3">
         <div class="card-body">
            <p class="card-text">Pergunta 20</p>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 1</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 2</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="row">
      <div class="col-md-3">
         <div class="card-body">
            <p class="card-text">Pergunta 21</p>
            <div class="btn-group">
               <div class="input-group mb-3">
                  <div class="input-group-prepend">
                     <span class="input-group-text" id="inputGroup-sizing-default">Aluno 1</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
               </div>
            </div>
            <div>
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 2</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-3">
         <div class="card-body">
            <p class="card-text">Pergunta 22</p>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 1</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 2</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-3">
         <div class="card-body">
            <p class="card-text">Pergunta 23</p>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 1</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 2</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-3">
         <div class="card-body">
            <p class="card-text">Pergunta 24</p>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 1</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 2</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="row">
      <div class="col-md-3">
         <div class="card-body">
            <p class="card-text">Pergunta 25</p>
            <div class="btn-group">
               <div class="input-group mb-3">
                  <div class="input-group-prepend">
                     <span class="input-group-text" id="inputGroup-sizing-default">Aluno 1</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
               </div>
            </div>
            <div>
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 2</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-3">
         <div class="card-body">
            <p class="card-text">Pergunta 26</p>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 1</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 2</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-3">
         <div class="card-body">
            <p class="card-text">Pergunta 27</p>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 1</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 2</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-3">
         <div class="card-body">
            <p class="card-text">Pergunta 28</p>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 1</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 2</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="row">
      <div class="col-md-3">
         <div class="card-body">
            <p class="card-text">Pergunta 29</p>
            <div class="btn-group">
               <div class="input-group mb-3">
                  <div class="input-group-prepend">
                     <span class="input-group-text" id="inputGroup-sizing-default">Aluno 1</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
               </div>
            </div>
            <div>
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 2</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-3">
         <div class="card-body">
            <p class="card-text">Pergunta 30</p>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 1</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 2</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-3">
         <div class="card-body">
            <p class="card-text">Pergunta 31</p>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 1</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 2</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-3">
         <div class="card-body">
            <p class="card-text">Pergunta 32</p>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 1</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 2</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="row">
      <div class="col-md-3">
         <div class="card-body">
            <p class="card-text">Pergunta 33</p>
            <div class="btn-group">
               <div class="input-group mb-3">
                  <div class="input-group-prepend">
                     <span class="input-group-text" id="inputGroup-sizing-default">Aluno 1</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
               </div>
            </div>
            <div>
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 2</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-3">
         <div class="card-body">
            <p class="card-text">Pergunta 34</p>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 1</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 2</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-3">
         <div class="card-body">
            <p class="card-text">Pergunta 35</p>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 1</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 2</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-3">
         <div class="card-body">
            <p class="card-text">Pergunta 36</p>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 1</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 2</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="row">
      <div class="col-md-3">
         <div class="card-body">
            <p class="card-text">Pergunta 37</p>
            <div class="btn-group">
               <div class="input-group mb-3">
                  <div class="input-group-prepend">
                     <span class="input-group-text" id="inputGroup-sizing-default">Aluno 1</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
               </div>
            </div>
            <div>
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 2</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-3">
         <div class="card-body">
            <p class="card-text">Pergunta 38</p>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 1</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 2</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-3">
         <div class="card-body">
            <p class="card-text">Pergunta 39</p>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 1</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 2</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-3">
         <div class="card-body">
            <p class="card-text">Pergunta 40</p>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 1</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 2</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="row">
      <div class="col-md-3">
         <div class="card-body">
            <p class="card-text">Pergunta 41</p>
            <div class="btn-group">
               <div class="input-group mb-3">
                  <div class="input-group-prepend">
                     <span class="input-group-text" id="inputGroup-sizing-default">Aluno 1</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
               </div>
            </div>
            <div>
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 2</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-3">
         <div class="card-body">
            <p class="card-text">Pergunta 42</p>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 1</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 2</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-3">
         <div class="card-body">
            <p class="card-text">Pergunta 43</p>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 1</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 2</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-3">
         <div class="card-body">
            <p class="card-text">Pergunta 44</p>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 1</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 2</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="row">
      <div class="col-md-3">
         <div class="card-body">
            <p class="card-text">Pergunta 45</p>
            <div class="btn-group">
               <div class="input-group mb-3">
                  <div class="input-group-prepend">
                     <span class="input-group-text" id="inputGroup-sizing-default">Aluno 1</span>
                  </div>
                  <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
               </div>
            </div>
            <div>
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 2</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-3">
         <div class="card-body">
            <p class="card-text">Pergunta 46</p>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 1</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 2</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-3">
         <div class="card-body">
            <p class="card-text">Pergunta 47</p>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 1</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 2</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="col-md-3">
         <div class="card-body">
            <p class="card-text">Pergunta 48</p>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 1</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
               <div class="btn-group">
                  <div class="input-group mb-3">
                     <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">Aluno 2</span>
                     </div>
                     <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="row">
      <div class="mx-auto mt-5 mb-5">
         <a href="http://localhost:3000/admins_backoffice/highlights" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Finalizar formulário</a>
      </div>   
   </div>
